.text-left {
    padding-left: 49px;
}

.font-size {
    font-size: 22px;
    color: black;
}

.custom-list li {
    font-size: 28px;
    color: blue;
}

/* Nicht besuchte Links */
a:link {
    color: blue;
    /* Standardfarbe für nicht besuchte Links */
}

/* Besuchte Links */
a:visited {
    color: blue;
    /* Farbe für besuchte Links */
}