body {
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease;
}

.container {
  position: fixed;
  top: 0;
  right: 0;
}

h1 {
  color: #333;
}

p {
  color: #666;
}

/* Dark mode styles */
body.dark-mode {
  background-color: #333;
  color: #fff;
}

body.dark-mode h1,
body.dark-mode p {
  color: #fff;
}

.toggle-container {
  text-align: center;
  margin-top: 20px;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-switch input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input[type="checkbox"]:checked+.toggle-slider {
  background-color: #2196F3;
}

input[type="checkbox"]:checked+.toggle-slider:before {
  transform: translateX(26px);
}